*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

aside{
    width: 90%;
}

aside > p{
    padding-top: 20px; ;
}

aside > button span {
    padding-left: 35px;
    padding-right: 35px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

