aside{
    width: 50%;
}

aside > p{
    padding-top: 20px; ;
}

aside > button span {
    padding-left: 35px;
    padding-right: 35px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input{
    text-align: center;
    display: block;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: none;
    margin-bottom: 1em;
    font-size: 1.15em;
    width: 60%;
}