input {
    width: 50%;
}

label {
    color: rgb(0, 110, 255);
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}